*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(135deg,#ff9a9e,#fad0c4,#fad0c4);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

#warning-page,
#login-page{
    width:400px;
    background:rgba(255,255,255,0.18);
    backdrop-filter:blur(15px);
    border-radius:20px;
    padding:40px;
    text-align:center;
    box-shadow:0 8px 30px rgba(0,0,0,0.3);
    animation:fadeIn 1.5s;
}

h1{
    color:#ff0066;
    margin-bottom:20px;
}

h2{
    color:#ffffff;
    margin:20px 0;
}

p{
    color:white;
    font-size:18px;
    line-height:28px;
}

input{
    width:100%;
    padding:15px;
    margin-top:10px;
    border:none;
    border-radius:10px;
    outline:none;
    font-size:16px;
}

button{
    margin-top:20px;
    padding:15px 30px;
    border:none;
    border-radius:30px;
    background:#ff0066;
    color:white;
    cursor:pointer;
    font-size:18px;
    transition:0.3s;
}

button:hover{
    background:#ff3385;
    transform:scale(1.05);
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(40px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}
